[submodule "TiddlyRemember"]
	path = TiddlyRemember
	url = git@github.com:sobjornstad/TiddlyRemember.git
[submodule "tw5-relink"]
	path = tw5-relink
	url = git@github.com:flibbles/tw5-relink.git
[submodule "TW-Gatha"]
	path = TW-Gatha
	url = git@github.com:kookma/TW-Gatha.git
[submodule "TiddlyCrafts"]
	path = TiddlyCrafts
	url = git@github.com:uzvg/TiddlyCrafts.git
